<div class="row">
  <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12">
    <!--<div *ngFor="let user of users" >-->
      <h3>{{title}}</h3>
    <!--</div>-->
  </div>
</div>
<!--<hr/>-->
<!--<div *ngFor="let user of users" >-->
  <!--<div>-->
    <!--Email : {{user.email}}-->
  <!--</div>-->
  <!--<div>-->
    <!--First Name {{user.userName}}-->
  <!--</div>-->
  <!--<div>-->
    <!--Last Name >>> :  {{user.country}}-->
  <!--</div>-->
  <!--<br>-->
<!--</div>-->
