<div class="align-content-around" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12">
            <h1> Creating a landing page with a user registration form </h1>
    </div>
  </div>

  <div class="row" *ngIf="!submission_flag">
    <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12">

      <form #regForm="ngForm" (ngSubmit)="ok()" novalidate>

        <div class="form-group">

          <div>
            <label for="email">Email</label>
          </div>

          <input id="email" #email="ngModel" name="email" type="text" [(ngModel)]="userInfo.email" placeholder=""
                 class="form-control" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required/>
          <div *ngIf="email.errors && (email.touched || submission_flag)">
            <div [hidden]="!email.errors.required && email.dirty" class="help-block alert alert-danger">
              Required field
            </div>
            <div [hidden]="!email.errors.pattern" class="help-block alert alert-danger">
              <span class="help-block alert"> Email is invalid </span>
            </div>
          </div>

        </div>

        <div class="form-group">
          <div>
            <label for="password">Password</label>
          </div>
          <input id="password" #password="ngModel" name="password" type="password" [(ngModel)]="userInfo.password" placeholder="Please provide a password." class="form-control" pattern="^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$" required/>
          <div *ngIf="password.errors && (password.touched || submission_flag)">
            <div [hidden]="!password.errors.required && password.dirty" class="help-block alert alert-danger">
              Required field
            </div>
            <div [hidden]="!password.errors.pattern" class="help-block alert alert-danger">
                                    <span class="help-block alert">Password must include special characters (!@#$%^&*). Alphanumeric and both uppercase & lowercase.
                                    </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div>
            <label for="userName">User Name </label>
          </div>
          <input id="userName" #userName="ngModel" name="userName" type="text" [(ngModel)]="userInfo.userName" placeholder="Provide a username." class="form-control" required/>
          <div *ngIf="userName.errors && (userName.touched || submission_flag)">
            <div [hidden]="!userName.errors.required && userName.dirty" class="help-block alert alert-danger">
              Required field
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="gender">Gender</label>
          <br/>
          <input id="gender" name="gender" type="radio" [(ngModel)]="userInfo.gender" value="{{gender[0]}}"/> Male
          <br/>
          <input id="gender" name="gender" type="radio" [(ngModel)]="userInfo.gender" value="{{gender[1]}}" /> Female
        </div>

        <div class="form-group">
          <label for="dob">Date of Birth</label>
          <input id="dob" name="dob" type="date" #dob="ngModel" class="form-control" [(ngModel)]="userInfo.dob"  value="{{ userInfo.dob}}" required/>
          <div *ngIf="dob.errors && (dob.touched || submission_flag)">
            <div [hidden]="!dob.errors.required && dob.dirty" class="help-block alert alert-danger">
              Required field
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="address">Address</label>
          <textarea rows="4" cols="50" id="address" name="address" #address="ngModel" class="form-control"
                    [(ngModel)]="userInfo.address" required>
          </textarea>
          <div *ngIf="address.errors && (address.touched || submission_flag)">
            <div [hidden]="!address.errors.required && address.dirty" class="help-block alert alert-danger">
              Required field
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="country">Country of origin</label>
          <textarea rows="4" cols="50" id="country" name="country" #country="ngModel" class="form-control"
                    [(ngModel)]="userInfo.country" required>
          </textarea>

          <div *ngIf="country.errors && (country.touched || submission_flag)">
            <div [hidden]="!country.errors.required && country.dirty" class="help-block alert alert-danger">
              Required field
            </div>
          </div>

        </div>

        <div class="form-group">
          <label for="contactNumber">Phone Number</label>
          <input id="contactNumber"  #contactNumber="ngModel" name="contactNumber" type="text" class="form-control"
                 [(ngModel)]="userInfo.contactNumber" minlength="8" maxlength="8" pattern="[0-9]*" required/>
          <div *ngIf="contactNumber.errors && (contactNumber.touched || submission_flag)">
            <div [hidden]="!contactNumber.errors.required && contactNumber.dirty" class="help-block alert alert-danger">
              Required field
            </div>
            <div [hidden]="!contactNumber.errors.pattern" class="help-block alert alert-danger">
                                    <span class="help-block alert">Contact No. is invalid
                                    </span>
            </div>
            <div [hidden]="!contactNumber.errors.minlength" class="help-block alert alert-danger">
                                    <span class="help-block alert">Contact No. must be at least 8 digit long.
                                    </span>
            </div>
          </div>

        </div>

        <div class="form-group">
          <hr/>
          <button type="submit" [disabled]="!regForm.form.valid" class="btn btn-default">Submit</button>
          <button type="reset" class="btn btn-default" (click)="regForm.reset()">Reset</button>
        </div>

      </form>

    </div>
  </div>

  <div class="row" *ngIf="submission_flag">
    <app-success [users] = "users"></app-success>
  </div>

</div>

